<div id="wrapper">
  <div id="mainContent">
    <img src="http://i.imgur.com/w1yBWfT.png" />
    <div id="begin">
      <p>Tap to begin randomization</p>
    </div>
  </div>
  <nav>
    <ul>
      <!-- CHANGE HREFS IN ANCHORS -->
      <li><a href="http://0.0.0.0:3000/roulette/index"><img src="http://i.imgur.com/2IrlF8V.png" /></a></li>
      <li><a href="http://0.0.0.0:3000/galleries"><img src="http://i.imgur.com/yElKroE.png" /></a></li>
      <li><img src="http://i.imgur.com/jjvwe0C.png" /></li>
      <li><img src="http://i.imgur.com/ecrHefI.png" /></li>
    </ul>
  </nav>
</div>